---
import Button from "../../components/client/Button.svelte";
import TextLogo from "../../components/assets/TextLogo.svelte";
import DownButton from "../../components/svg/DownButton.svelte";
import CaroNav from "../../components/client/CaroNav.svelte";
---

<div id="projects-card">
  <div class="projects-content flex flex-col justify-between">
    <div class="scroller">
      <div class="projects flex justify-center items-center">
        <div class="project project1 flex justify-center items-center gap-10">
          <img
            src="/project1.png"
            alt="Portfolio site"
            width="736"
            height="582"
          />
          <div class="text flex flex-col justify-center">
            <p>Illyrian DVD</p>
            <h1><strong>PORTFOLIO</strong></h1>
            <div class="description">
              <p>
                The entire portfolio is an example of my approach to creating
                good-looking, fast and responsive websites.
              </p>
              <ul class="tech flex gap-4 items-center">
                <li><strong>ASTRO.JS</strong></li>
                <li><strong>SVELTE</strong></li>
                <li><strong>POSTCSS</strong></li>
              </ul>
            </div>
            <div class="cta-button w-2/3 h-16 mt-8">
              <Button
                bg="#fff"
                color="#000"
                text="Code"
                radius="32px"
                uppercase={false}
                bold={false}
                submit={false}
                href="https://github.com/illyriandev/illyriandvd"
                client:load
              />
            </div>
          </div>
        </div>
        <div class="project project2 flex justify-center items-center gap-10">
          <img
            src="/project2.png"
            alt="Portfolio site"
            width="736"
            height="582"
          />
          <div class="text flex flex-col justify-center">
            <p>Bosna Association</p>
            <h1><strong>GENOCIDE ROADMAP</strong></h1>
            <div class="description">
              <p>
                “Genocide Roadmap” is an interactive platform that shows the
                series of the 90's war crimes and genocide in Bosnia.
              </p>
              <ul class="tech flex gap-4 items-center">
                <li><strong>SVELTEKIT</strong></li>
                <li><strong>SANITY.IO</strong></li>
                <li><strong>POSTCSS</strong></li>
                <li><strong>FIGMA</strong></li>
              </ul>
            </div>
            <div class="cta-button w-2/3 h-16 mt-8">
              <Button
                bg="#fff"
                color="#000"
                text="View"
                radius="32px"
                uppercase={false}
                bold={false}
                submit={false}
                href="https://www.genocid.ba/"
                client:load
              />
            </div>
          </div>
        </div>
        <div class="project project3 flex justify-center items-center gap-10">
          <img
            src="/project3.png"
            alt="Portfolio site"
            width="736"
            height="582"
          />
          <div class="text flex flex-col justify-center">
            <p>Chivalore</p>
            <h1><strong>PROSPERIST JOURNAL</strong></h1>
            <div class="description">
              <p><strong>*COMING SOON*</strong></p>
              <p>
                “Prosperist Journal” is a personal passion project of creating
                an outlet for my creative writing and philosophy posts.
              </p>
              <ul class="tech flex gap-4 items-center">
                <li><strong>VUE.JS</strong></li>
                <li><strong>NUXT.JS</strong></li>
                <li><strong>FIREBASE</strong></li>
              </ul>
            </div>
            <!-- <div class="cta-button w-1/3 h-16 mt-8">
              <Button
                bg="#fff"
                color="#000"
                text="Code"
                radius="32px"
                uppercase={false}
                bold={false}
                client:load
              />
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <footer class="flex justify-between items-center w-full">
      <h1 class="title"><strong>PROJECTS</strong></h1>
      <CaroNav client:load />
    </footer>
  </div>
</div>

<style>
  #projects-card {
    height: 100%;
    background-color: #000;
    background-image: url("/dev-skill-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    @media (max-width: 767px) {
      background-image: url("/dev-skill-mobile-bg.svg");
    }

    .projects-content {
      padding: 4rem;
      height: 100%;
      color: #fff;

      @media (max-width: 1024px) {
        padding: 2rem;
      }

      @media (max-width: 767px) {
        padding: 2rem 0rem;
      }

      .scroller {
        height: 90%;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        .projects {
          height: 100%;
          width: 300%;
          display: flex;
          justify-content: space-evenly;

          .project {
            width: 30%;
            height: 90%;
            scroll-snap-align: center;
            scroll-snap-stop: always;
            margin: 0 auto;
            overflow: hidden;

            @media (max-width: 767px) {
              flex-direction: column-reverse;
              gap: 1rem;
              justify-content: center;
              align-items: start;
            }

            @media (max-width: 500px) {
              justify-content: center;
            }

            .tech {
              flex-wrap: wrap;
            }

            img {
              border-radius: 20px;
              width: 60%;
              height: auto;

              @media (max-width: 767px) {
                max-height: 40%;
                width: fit-content;
              }
            }
            .text {
              width: 40%;

              @media (max-width: 767px) {
                width: 100%;
              }

              & > p {
                font-size: 1.25rem;
                word-wrap: break-word;

                @media (max-width: 1024px) {
                  font-size: 1rem;
                }
              }
              & > h1 strong {
                line-height: 1;
                font-size: 2.5rem;

                @media (max-width: 1024px) {
                  font-size: 2rem;
                }
                @media (max-width: 500px) {
                  font-size: 1.5rem;
                }
              }

              .description {
                margin-top: 2rem;
                padding: 2rem 0 2rem 2rem;
                border-left: #fff 4px solid;

                @media (max-width: 767px) {
                  padding: 0 0 0 2rem;
                  margin-top: 1.5rem;
                }

                @media (max-width: 500px) {
                  padding: 0 0 0 1rem;
                  margin-top: 1rem;
                }

                p {
                  font-size: 1.175rem;
                  margin-bottom: 1rem;
                  @media (max-width: 500px) {
                    font-size: 1.1rem;
                  }
                }

                ul {
                  @media (max-width: 1024px) {
                    row-gap: 0.25rem;
                    column-gap: 1rem;
                  }
                  li {
                    font-size: 1.25rem;
                    @media (max-width: 767px) {
                      font-size: 1rem;
                    }
                  }
                }
              }

              .cta-button {
                @media (max-width: 767px) {
                  margin-top: 1rem;
                }
              }
            }
          }
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }

      h1 strong {
        height: 10%;
        font-size: 4rem;
        font-weight: 800;
        @media (max-width: 1000px) {
          font-size: 3rem;
        }
        @media (max-width: 767px) {
          font-size: 2rem;
        }
      }

      footer {
        @media (max-width: 767px) {
          padding: 0 2rem;
        }
        @media (max-width: 500px) {
          flex-direction: column;
        }

        .caro-nav {
          @media (max-width: 767px) {
            height: 40px;
          }
        }
      }
    }

    .button {
      position: absolute;
      bottom: 4rem;
      right: 7rem;
    }
  }
</style>
