---
import AboutName from "../../components/svg/AboutName.svelte";
import AboutImages from "../../components/svg/AboutImages.svelte";
import Button from "../../components/client/Button.svelte";
---

<div id="about-card">
  <div class="flex w-full h-full justify-center items-center md:gap-12">
    <div class="text">
      <div class="title">
        <!-- <h2>Hi, I'm Muhammed</h2>
                <h1>the ILLYRIAN</h1> -->
        <AboutName client:load />
      </div>
      <p>
        This brand (and this website) is created with a purpose to develop great
        solutions, solve problems and do high-quality work for my clients.
        Illyrian DVD showcases how I can help you grow your business, promote
        your brand and develop excellent products.<br /><br />I'm a skilled <strong
          >Front-End Developer and Visual Content Creator</strong
        >, as I see both of these fields as necessarily interconnected.
        Consequently, I'm offering a unique fusion of digital creativity and
        technicality necessary to make your business shine!<br /><br />Check out
        my work and skills down below. If you have any questions or you'd like
        to chat - contact me!
      </p>
      <div class="buttons flex gap-3 min-w-2/3">
        <Button
          bg="var(--primary)"
          color="#fff"
          text="Contact"
          radius="1.43rem"
          uppercase={false}
          bold={false}
          submit={false}
          href="/#contact-card"
          client:load
        />
        <Button
          bg="var(--primary)"
          color="#fff"
          text="Download CV"
          radius="1.43rem"
          uppercase={false}
          bold={false}
          client:load
        />
      </div>
    </div>
    <AboutImages client:load />
  </div>
</div>

<style>
  #about-card {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #f2e2bd 30.1%, #4a3210 100%);
    padding: 2rem 4rem 2rem 6rem;

    @media (max-width: 1440px) {
      @media (min-width: 1000px) {
        padding: 2rem 3rem;
        padding-top: 5rem;
      }
      padding: 2.5rem;
      padding-top: 5rem;
      background: linear-gradient(0deg, #f2e2bd 30.1%, #4a3210 100%);
    }
    @media (max-width: 500px) {
      padding: 1.5rem;
      padding-top: 5rem;
    }

    & > .flex {
      @media (max-width: 1440px) {
        flex-direction: column-reverse;
        justify-content: space-between;
      }
    }

    .text {
      width: 50%;
      @media (min-width: 1700px) {
        width: 40%;
      }
      @media (min-width: 1441px) {
        @media (max-height: 800px) {
          width: 50%;
        }
      }
      @media (max-width: 1440px) {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      @media (max-width: 500px) {
        width: 100%;
      }
      .title {
        @media (max-width: 1440px) {
          @media (min-width: 768px) {
            width: 50%;
          }
          width: 70%;
          align-self: start;
        }
      }
      p {
        margin: 2rem 0;
        font-size: 1.25rem;
        line-height: 24px;

        @media (max-width: 1440px) {
          @media (min-width: 768px) {
            margin: 1.5rem 0;
          }
          margin: 1rem 0;
          line-height: normal;
        }
        @media (max-width: 500px) {
          font-size: 1.125rem;
        }
      }

      .buttons {
        @media (max-width: 1440px) {
          @media (min-width: 768px) {
            font-size: 14px;
            width: 50%;
          }
          font-size: 12px;
          width: 70%;
          align-self: start;
        }
        @media (max-width: 500px) {
          width: 100%;
        }
      }
    }
  }
</style>
