---
import FullLogo from "../components/assets/FullLogo.svelte";
import Button from "../components/client/Button.svelte";

/* export let color1: string = "#000";
export let color2: string = "#463129"; */
let { color1, color2, percent, text } = Astro.props;
percent = "90%";
---

<div
  id="contact-card"
  style=`--color1: ${color1}; --color2: ${color2}; --percent: ${percent}; color: ${text}`
>
  <div class="content flex justify-center gap-16">
    <div class="left">
      <form
        class="text w-full h-full flex flex-col justify-center items-center gap-4"
        action="$"
        method="post"
      >
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email" />
        <!-- <input
          type="text"
          class="message"
          name="message"
          placeholder="Message"
        /> -->
        <textarea
          class="message"
          name="message"
          id="message"
          cols="30"
          rows="10"
          placeholder="Message"></textarea>
        <div class="cta-button">
          <Button
            bg="#161411"
            color="#fff"
            radius="20px"
            text="Send"
            bold={false}
            uppercase={false}
            submit={true}
            client:load
          />
        </div>
      </form>
    </div>
    <div class="right h-full flex flex-col justify-center gap-6">
      <p><strong>Or send me a DM</strong><br />on these platforms</p>
      <div class="buttons flex flex-col gap-2">
        <div class="cta-button">
          <Button
            bg="#161411"
            color="#fff"
            radius="20px"
            text=""
            bold={false}
            uppercase={false}
            submit={false}
            href="https://www.linkedin.com/in/knightofillyria/"
            client:load
          >
            <div class="flex justify-center items-center gap-4">
              <img
                src="/linkedin-logo-small.png"
                width="30"
                height="30"
                alt="LinkedIn logo"
              />
              <p>LinkedIn</p>
            </div>
          </Button>
        </div>
        <div class="cta-button">
          <Button
            bg="#161411"
            color="#fff"
            radius="20px"
            text=""
            bold={false}
            uppercase={false}
            submit={false}
            href="https://www.facebook.com/profile.php?id=100089076883799"
            client:load
          >
            <div class="flex justify-center items-center gap-4">
              <img
                src="/facebook-logo-small.webp"
                width="30"
                height="30"
                alt="LinkedIn logo"
              />
              <p>Facebook</p>
            </div>
          </Button>
        </div>
        <div class="cta-button">
          <Button
            bg="var(--primary)"
            color="#fff"
            text="Download CV"
            radius="20px"
            uppercase={false}
            bold={false}
            submit={false}
            href="#"
            client:load
          />
        </div>
      </div>

      <p>knightofillyria@gmail.com</p>
    </div>
  </div>
  <footer class="w-full flex justify-between items-center">
    <h1>CONTACT</h1>
    <div class="img flex h-full align-center">
      <FullLogo width="350" height="180" color={text} client:load />
    </div>
  </footer>
</div>

<style>
  #contact-card {
    height: 100%;
    width: 100%;
    /* background: url("/contact-bg.svg") center/cover no-repeat; */
    background: linear-gradient(
      180deg,
      var(--color1) 0%,
      var(--color2) var(--percent) /* #2e2c29 56.92%, */
    );

    .content {
      height: calc(100% - 200px);
      width: 100%;
      margin: 0 auto;

      @media (min-width: 1441px) {
        @media (max-height: 900px) {
          height: calc(100% - 150px);
        }
      }
      @media (max-width: 1440px) {
        height: calc(100% - 150px);
      }
      @media (max-width: 1024px) {
        width: 90%;
        gap: 2rem;
      }
      @media (max-width: 767px) {
        height: calc(100% - 71px);
        flex-direction: column;
        padding-top: 4rem;
      }

      .left,
      .right {
        height: 100%;
        padding-top: 3rem;

        @media (max-width: 767px) {
          width: 100%;
          padding-top: 0;
        }
      }

      .left {
        width: 50%;
        max-width: 500px;
        @media (max-width: 1024px) {
          width: 70%;
          max-width: unset;
        }
        @media (max-width: 767px) {
          justify-content: end;
          width: 100%;
          height: 65%;
        }
        form {
          color: #000;
          @media (max-width: 767px) {
            justify-content: end;
          }
          input,
          textarea {
            width: 100%;
            height: 20px;
            padding: 1.5rem 2rem;
            border-radius: 20px;
            justify-self: flex-start;

            &::placeholder {
              color: #000;
            }

            &.message {
              height: 40%;
              position: relative;

              &::placeholder {
                position: absolute;
                top: 1.5rem;
                left: 2rem;
              }
            }
          }

          .cta-button {
            width: 100%;
            font-size: 1rem;
          }
        }
      }

      .right {
        width: 50%;
        max-width: 400px;

        @media (max-width: 1024px) {
          width: 30%;
          max-width: unset;
          gap: 1rem;
        }
        @media (max-width: 767px) {
          width: 100%;
          height: 35%;
          text-align: center;
          justify-content: start;
        }
        @media (max-width: 500px) {
          height: 45%;
        }

        & > p {
          font-size: 1.5rem;
          @media (max-width: 1024px) {
            font-size: 1rem;
          }
        }

        .buttons {
          @media (max-width: 767px) and (min-width: 501px) {
            flex-direction: row;
            width: 100%;
          }

          .cta-button {
            font-size: 0.75rem;
            @media (max-width: 767px) and (min-width: 501px) {
              flex: 1;
              img {
                height: 20px;
                width: auto;
              }
            }
            @media (max-width: 500px) {
              font-size: 1rem;
              img {
                height: 15px;
                width: auto;
              }
            }
          }
        }
      }
    }

    footer {
      padding: 0 5%;
      height: 200px;

      @media (min-width: 1441px) {
        @media (max-height: 900px) {
          height: 150px;
        }
      }

      @media (max-width: 1440px) {
        height: 150px;
      }

      @media (max-width: 767px) {
        height: 70px;
        justify-content: center;
      }

      h1 {
        font-size: 4rem;
        font-weight: 900;
        @media (max-width: 1440px) {
          font-size: 3.5rem;
        }
        @media (max-width: 767px) {
          font-size: 3rem;
        }
      }
      .img {
        height: 100%;
        max-height: 180px;
        width: auto;

        @media (min-width: 1441px) {
          @media (max-height: 900px) {
            max-height: 120px;
          }
        }

        @media (max-width: 1440px) {
          max-height: 120px;
        }
      }
    }
  }
</style>
